body {
  margin: 0;
  padding: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.metric-cell {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.row:first-child {
  grid-column: 1/3;
}

.group-name.column {
  grid-column: 1 / 6;
  text-align: center;
  background-color: lightseagreen;
  font-size: 20px;
  padding: 5px;
}

.metric-cell.header {
  background-color: lightgray;
}

.metric-cell p {
  padding-left: 10px;
}
